<div class="col-xs-12 pl0 pr0">
    <h3>Welcome to SoundBox dashboard</h3>

    <div class="col-md-3">
        <div class="col-md-12 card card-blue">
            <div class="panel-body text-center">
                <span class="value">20</span>
                <span class="title">Plays today</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12 card card-red">
            <div class="panel-body text-center">
                <span class="value">140</span>
                <span class="title">Followers</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12 card card-purple">
            <div class="panel-body text-center">
                <span class="value">120</span>
                <span class="title">Following</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12 card card-pink">
            <div class="panel-body text-center">
                <span class="value"><i class="fa fa-arrow-circle-up custom-green"></i> 15%</span>
                <span class="title">Profile views</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12 card card-pink">
            <div class="panel-body text-center">
                <span class="value">15</span>
                <span class="title">Songs</span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="col-md-12 card card-pink">
            <div class="panel-body text-center">
                <span class="value">Habits ft. Abhi Dijon</span>
                <span class="title">Most played</span>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="semibold">Geographic</h4>
                <hr>
                <h3>Add google charts</h3>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="semibold">Events</h4>
                <hr>

            </div>
        </div>
    </div>

</div>