
.dropup,
.dropdown {
    position: relative; }

.dropdown-toggle:focus {
    outline: 0; }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box; }
.dropdown-menu.pull-right {
    right: 0;
    left: auto; }
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #00578c; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #777777; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed; }

.open > .dropdown-menu {
    display: block; }

.open > a {
    outline: 0; }

.dropdown-menu-right {
    left: auto;
    right: 0; }

.dropdown-menu-left {
    left: 0;
    right: auto; }

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857;
    color: #777777;
    white-space: nowrap; }

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990; }

.pull-right > .dropdown-menu {
    right: 0;
    left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px; }


.navbar {
    margin-bottom: 0;
    background-color: #1f7bb6;
}

.navbar-shadow{
    box-shadow: 0 -3px 13px -2px black;
}

.navbar-header{
    text-align: center !important;
    float: none !important;
}


/* header navigation */
.navbar-fixed-top {
    border-width: 0;
    position: fixed;
}

.project a{
    color: #FFFFFF;
    font-weight: lighter;
}
.app:hover, .project:hover{
    /*color: gainsboro;*/
    background-color: #238acc;
}


.navbar-default .navbar-header .app{
    color: royalblue;
    font-weight: 500;
    padding: 13px 10px 16px 10px;
    font-family: fantasy;
    font-size: 30px;
    height: 57px;
}

.app a{
    color: whitesmoke;
}

/* for iphone only*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

    .navbar-default .navbar-header .hamburger:hover, .app:hover, .project:hover{
        background-color: transparent !important;
    }

    .navbar-fixed-top{
        position: relative !important;
    }

    .navbar-shadow{
        box-shadow: none !important;
    }

    .navbar{
        border-bottom: 1px solid gainsboro !important;
    }

    .app{
        z-index: 0 !important;
    }

    .navbar-header .app{
        padding-left: 0 !important;
    }
}

/* for ipad only */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {

    .navbar-default .navbar-header .hamburger:hover, .app:hover, .project:hover{
        background-color: transparent !important;
    }

    .navbar-default .navbar-header .brand, .navbar-default .navbar-header .project {
        font-size: 22px !important;
    }
    .navbar-header{
        float: left !important;
    }

    .navbar-header .app{
        font-size: 22px !important;
    }

    .navbar-right{
        width: 22% !important;
    }


}
.navbar-default {
    height: 57px;
}

.navbar-default a {
    /*color: #ffffff;*/
}

.navbar-default .navbar-header {
    color: #ffffff;
}

.navbar-default .navbar-header div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.navbar-default .navbar-header .hamburger {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat center center;
    width: 45px;
    height: 57px;
    display: inline-block;
    float: left;
}

.navbar-default .navbar-header .hamburger:hover {
    background-color: #238acc;
}

.navbar-default .navbar-header .brand, .navbar-default .navbar-header .project {
    padding: 13px 10px 16px 10px;
    font-size: 30px;
    font-family: fantasy;
    height: 57px;
}

.navbar-default .navbar-header .divider {
    height: 57px;
    border-right: solid 1px #ffffff;
    margin: 0;
}

.navbar-default .navbar-right {
    box-sizing: border-box;
    position: absolute;
    margin-right: 0;
    right: 15px;
    top: 0;
    height: 57px;
    width: 10.5%;
}

.navbar-default .navbar-right > div {
    display: inline-block;
    height: 100%;
}

.navbar-default .navbar-right a {
    color: dodgerblue;
    font-family: fantasy;
    display: inline-block;
    vertical-align: top;
}

.navbar-default .navbar-right img{
    height: 57px;
    width: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 5px;
    right: 300px;
}

.navbar-default .navbar-right a:hover {
    color: #f9f2f4;
}

.navbar-default .navbar-right a span {
    position: absolute;
    top: 22px;
    width: 50%;
}

.navbar-default .navbar-right ul.dropdown-menu {
    border-radius: 0;
    padding: 0;
    margin: 9px -7px 0 0;
}

.navbar-default .navbar-right ul.dropdown-menu:after {
    top: -51px;
    z-index: 1001;
    content: "";
    height: 50px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid white;
    border-bottom-color: #CCCCCC;
}

.navbar-default .navbar-right ul.dropdown-menu li:after {
    top: -50px;
    z-index: 1002;
    content: "";
    height: 50px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid white;
}

.navbar-default .navbar-right ul.dropdown-menu li .options {
    border-top: 1px solid #BDBDBD;
}

.navbar-default .navbar-right ul.dropdown-menu li .options div {
    background-color: #F5F5F5;
    min-height: 37px;
}

.navbar-default .navbar-right ul.dropdown-menu li .options div a {
    padding-top: 9px;
    color: #00578c;
    font-size: 14px;
    font-weight: 400;
}

.navbar-default .navbar-right ul.dropdown-menu li .options div a:hover {
    color: #002740;
}

.navbar-default .navbar-right ul.dropdown-menu li .options div a span {
    position: absolute;
    color: #757575;
}

.navbar-default .navbar-right .notification .navbar-icon {
    /*position: static !important;*/
    /*right: 75px;*/
}

.navbar-default .navbar-right .notification .navbar-icon .notification-bubble {
    top: -8px;
    left: 8px;
    padding: 1px 0px 4px 0px;
    text-align: center;
    font-size: 12.05px;
    width: 20px;
    background-color: #d9534f;
    border-radius: 2.25em;
}

.navbar-default .navbar-right .notification .notification-read {
    background-color: #eeeeee;
}

.navbar-default .navbar-right .notification .notification-unread {
    font-weight: bold;
}

.navbar-default .navbar-right .notification ul.dropdown-menu {
    min-width: 270px;
}

.navbar-default .navbar-right .notification ul.dropdown-menu:after {
    right: 81px;
}

.navbar-default .navbar-right .notification ul.dropdown-menu li:after {
    right: 81px;
}

.navbar-default .navbar-right .notification ul.dropdown-menu li .message-box {
    cursor: pointer;
    max-height: 70px;
    border-bottom: 1px solid #BDBDBD;
    overflow: hidden;
    padding: 15px;
}

.navbar-default .navbar-right .notification ul.dropdown-menu li .message-box:hover {
    background-color: #f5f5f5;
}

.navbar-default .navbar-right .notification ul.dropdown-menu li .message-box .urgent {
    float: left;
    padding-right: 5px;
    padding-bottom: 65px;
    width: 2px;
    color: #d9534f;
    font-weight: bold;
}

.navbar-default .navbar-right .notification ul.dropdown-menu li .message-box .app-name {
    float: left;
    font-weight: bold;
    padding-right: 5px;
}

.navbar-default .navbar-right .notification ul.dropdown-menu li .message-box .date {
    float: right;
    padding-left: 5px;
    padding-bottom: 20px;
}

.navbar-default .navbar-right .notification ul.dropdown-menu li .message-box .message {
    width: 250px;
    white-space: normal;
    padding-bottom: 2px;
}

.navbar-default .navbar-right .notification ul.dropdown-menu .options {
    border: none;
}

.navbar-default .navbar-right .notification ul.dropdown-menu .options div {
    padding: 10px;
    background-color: #F5F5F5;
}

.navbar-default .navbar-right .notification ul.dropdown-menu .options a {
    display: inline;
    position: relative;
    color: #00578c;
}

.navbar-default .navbar-right .notification ul.dropdown-menu .options a:hover {
    color: #002740;
}

.navbar-default .navbar-right .notification ul.dropdown-menu .options a span {
    top: 12%;
    left: -27%;
    font-size: 24px;
}

.navbar-default .navbar-right .domino {
    position: static !important;
}

.navbar-default .navbar-right .domino ul.dropdown-menu {
    min-width: 290px;
}

.navbar-default .navbar-right .domino ul.dropdown-menu:after {
    right: 50px;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li:after {
    right: 50px;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li .tiles {
    padding: 0 5px 15px 5px;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li .tiles .tile-link {
    width: 17%;
    position: relative;
    margin: 15px 0;
    padding: 0;
    min-width: 90px;
    height: 70px;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li .tiles .tile-link img {
    width: 60%;
    display: block;
    margin: 0 0 7px 15px;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li .tiles .tile-link p {
    color: #00578c;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li .tiles .tile-link:hover p, .navbar-default .navbar-right .domino ul.dropdown-menu li .tiles .tile-link:hover img {
    color: #002740;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li .options div {
    padding-right: 16px;
}

.navbar-default .navbar-right .domino ul.dropdown-menu li .options div span {
    top: 12%;
    right: 15%;
    font-size: 24px;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu {
    min-width: 210px;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu:after {
    right: 7px;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu li:after {
    right: 7px;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu li .user-details {
    margin: 10px 10px 15px;
    white-space: nowrap;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu li .user-details strong {
    margin: 0px;
    font-size: 17px;
    white-space: nowrap;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu li .options .right-border {
    border-right: 1px solid #BDBDBD;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu li .options a {
    white-space: nowrap;
    padding-left: 22px;
}

.navbar-default .navbar-right .user-profile ul.dropdown-menu li .options a span {
    top: 15%;
    left: 10%;
    font-size: 22px;
}

.navbar-default .navbar-right .glyphicon-bell {
    font-size: 20px;
    top: 20px;
}

.navbar-default .navbar-right .glyphicon-th {
    font-size: 22px;
    top: 17px;
}

.navbar-default .navbar-right .uc-user {
    font-size: 32px;
    top: 8px;
}

/* header sidebar */
.sidebar {
    margin-left: -240px;
    top: 0px;
    left: 0px;
    width: 233px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 998;
    background: #FAFAFA;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.14);
    white-space: nowrap;
    cursor: pointer;
}

.sidebar .sidebar-nav {
    position: absolute;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 57px;
}

.sidebar .sidebar-nav > li {
    line-height: 50px;
}

.sidebar .sidebar-nav > li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    color: #000000;
}

.sidebar .sidebar-nav > li a:hover {
    text-decoration: none;
    background-color: #E0E0E0;
}

.sidebar .sidebar-nav > li a:focus {
    color: #005581;
}

.sidebar .sidebar-nav > li div {
    cursor: default;
    color: #555555;
}

.sidebar .sidebar-nav > li > ul {
    margin-left: 15px;
}

.sidebar .sidebar-nav > li > ul li {
    height: 30px;
    line-height: 25px;
}

.sidebar .sidebar-nav li.active a {
    background-color: #EEEEEE;
    color: black;
    font-weight: 400;
}

.side-menu-active .sidebar {
    left: 240px;
    transition: all 0.15s ease-in-out 0s;
}
