<div class="col-md-12 col-xs-12 pt0 pl0 pr0">
    <div class="search-bar col-md-5 col-xs-12 pl0 pr0">
        <div class="form-group has-feedback">
            <input id="search" type="text" placeholder="Search" class="col-md-8 col-xs-12 form-control" ng-model="ctrl.q"
                   uib-typeahead="obj as obj.permalink for obj in ctrl.search($viewValue)"
                   typeahead-on-select="ctrl.selectFromTypeahead($item)"
                   typeahead-loading="loading"
                   typeahead-template-url="customTemplate.html">
            <i ng-if="loading" class="pt10 fa fa-spinner spin spinning form-control-feedback"></i>
        </div>
    </div>
</div>

<script type="text/ng-template" id="customTemplate.html">
    <a href ng-if="match.model.objectType === 'USER'">
        <span style="padding-top: 19px" class="pr10">
            <label class="label label-primary"> User </label>
        </span>

        <img ng-src="{{match.model.user.pic_url}}" width="50" height="50">
        <span>{{match.model.user.username | limitTo: 40}} <span ng-if="match.model.user.username.length > 40">...</span></span>
    </a>

    <a ng-if="match.model.objectType === 'SONG'" href>
        <span style="padding-top: 19px" class="pr10">
            <label class="label label-warning"> Song </label>
        </span>

        <img ng-src="{{match.model.song.artwork_url}}" width="50" height="50">
        <span>
            {{match.model.song.title | limitTo: 29}}
            <span ng-if="match.model.song.title.length > 29">...</span> -
            {{match.model.song.user.username | limitTo: 10}}
            <span ng-if="match.model.song.user.username.length > 10">...</span>
        </span>
    </a>

    <a ng-if="match.model.objectType === 'PLAYLIST'" href>
        <span class="pt5 pr10">
            <label class="label label-success"> Playlist </label>
        </span>

        <span>
            {{match.model.playlist.name | limitTo: 29}}
            <span ng-if="match.model.playlist.name.length > 29">...</span> -
            {{match.model.playlist.owner.username | limitTo: 10}}
            <span ng-if="match.model.playlist.owner.username.length > 10">...</span>
        </span>
    </a>
</script>