<div class="col-md-12 col-xs-12 pt0 pl0 pr0">
    <div class="search-bar col-md-5 col-xs-12 pl0 pr0">
        <p>Powered by <b>SoundCloud</b></p>
        <div class="form-group has-feedback">
            <input type="text" placeholder="Search" class="col-md-8 col-xs-12 form-control" ng-model="ctrl.q"
                   uib-typeahead="obj as obj.permalink for obj in ctrl.search($viewValue)"
                   typeahead-on-select="ctrl.selectFromTypeahead($item)"
                   typeahead-loading="loading"
                   typeahead-template-url="customTemplate.html" typeahead-show-hint="true">
            <i ng-if="loading" class="pt10 fa fa-spinner spin spinning form-control-feedback"></i>
        </div>
    </div>
</div>

<script type="text/ng-template" id="customTemplate.html">
    <a ng-if="match.model.kind === 'user'"
       ng-click="$parent.$parent.$parent.$parent.ctrl.getSpecificArtist(match.model.id)">
        <img ng-src="{{match.model.avatar_url}}" width="50" height="50">
        <span>{{match.model.permalink | limitTo: 40}} <span ng-if="match.model.permalink.length > 40">...</span></span>
        <i class="pull-right fa fa-user custom-green pt15"></i>
    </a>
    <a ng-if="match.model.kind === 'track'"
       ng-click="$parent.$parent.$parent.$parent.ctrl.getSpecificTrack(match.model)">
        <img ng-src="{{match.model.artwork_url}}" width="50" height="50">
        <span>
            {{match.model.title | limitTo: 29}}
            <span ng-if="match.model.title.length > 29">...</span> -
            {{match.model.user.permalink | limitTo: 10}}
            <span ng-if="match.model.user.permalink.length > 10">...</span>
        </span>
        <i class="pull-right fa fa-music custom-orange pt15"></i>
    </a>
</script>