<div class="container-fluid" ng-init="ctrl.init()">
    <div class="col-xs-9">
        <search-bar></search-bar>
    </div>

    <div class="col-xs-12 pl0 pr0">
        <div class="pl15">
            <h3><span>Your favorite artists</h3>
        </div>

        <div class="col-xs-12" ng-if="ctrl.favorites.length === 0">
            <i class="fa fa-info-circle"></i>
            <span>You have no favorite artists. <a href ng-click="ctrl.clickSearch()">Search</a> artists to add them to your favorites.</span>
        </div>

        <div class="col-md-2 pt15" ng-repeat="artist in ctrl.favorites track by artist.id">
            <div class="col-md-12 card card-red button card-sc" ng-click="ctrl.goToArtist(artist)">
                <div class="panel-body text-center">
                    <img ng-src="{{artist.avatar_url}}">
                    <span ng-if="artist.avatar_url === null"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
                    <h6 class="custom-font" style="color: gray">
                        <a ng-href="#/artist/{{artist.permalink}}">{{artist.permalink | limitTo: 70}}</a>
                        <span ng-if="artist.full_name > 70"> . . . </span>
                    </h6>
                    <h3>
                        <label class="label label-info" ng-if="artist.track_count > 0">{{artist.track_count | number}} tracks</label>
                        <label class="label label-danger" ng-if="artist.track_count === 0">{{artist.track_count}} tracks</label>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 pl0 pr0">
        <div class="pl15">
            <h3><span>Your playlists</span></h3>
        </div>

        <div class="col-xs-12" ng-if="ctrl.playlists.length === 0">
            <i class="fa fa-info-circle"></i>
            <span>You have no playlists. Click <a href ng-click="ctrl.showForm = true">add</a> create a playlist</span>
        </div>

        <div ng-if="ctrl.showForm">
            <div class="col-md-2 pt10">
                <input type="text" class="form-control" ng-click="ctrl.focus($event)"
                       ng-model="ctrl.name" ng-enter="ctrl.addPlaylist()" auto-focus>
            </div>
            <a class="fa-2x" ng-click="ctrl.addPlaylist()" href title="Confirm"><i class="fa fa-check pt10"></i></a>
        </div>

        <div class="col-md-2 pt15" ng-repeat="playlist in ctrl.playlists track by playlist.id">
            <div class="col-md-12 card card-blue button card-playlist" ng-click="ctrl.goToPlaylist(playlist)">
                <div class="panel-body text-center">
                    <h5 class="custom-font" style="color: gray">
                        <a ng-href="#/playlist/{{playlist.id}}">{{playlist.name | limitTo: 70}}</a>
                        <span ng-if="playlist.name > 70"> . . . </span>
                    </h5>
                    <h4>
                        <label class="label label-info" ng-if="playlist.songs.length > 0">{{playlist.songs.length | number}} tracks</label>
                        <label class="label label-danger" ng-if="playlist.songs.length === 0">0 tracks</label>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>