<div class="container-fluid" ng-init="ctrl.init()">
    <div class="col-md-9">
        <search-bar></search-bar>
    </div>

    <div class="col-xs-12 pl0 pr0">
        <div class="pl15">
            <h3><span>Recommended music</span>
                <small ng-if="ctrl.tracks.length > 0">
                    <a href ng-click="ctrl.showRec = !ctrl.showRec">
                        <i class="fa fa-chevron-circle-down" ng-if="!ctrl.showRec"> Show</i>
                        <i class="fa fa-chevron-circle-up" ng-if="ctrl.showRec"> Hide</i>
                    </a>
                </small>
            </h3>
        </div>

        <div class="col-xs-12" ng-if="ctrl.tracks.length === 0">
            <i class="fa fa-info-circle"></i>
            <span>There is not sufficient data to recommend music. Music recommendations are based on your liked songs.</span>
        </div>

        <div class="col-md-10" ng-if="ctrl.showRec">
            <music-table ng-if="ctrl.tracks.length > 0" playlists="ctrl.playlists"  tracks="ctrl.tracks"
                         showartist="true" showdate="false"></music-table>
        </div>
    </div>

    <div class="col-xs-12 pl0 pr0">
        <div class="pl15">
            <h3><span>Artists you follow </span> <a href ng-click="ctrl.artist_grid = !ctrl.artist_grid" ng-if="ctrl.following.length > 0"><i ng-if="!ctrl.artist_grid" class="fa fa-th"></i> <i ng-if="ctrl.artist_grid" class="fa fa-list"></i></a></h3>
        </div>

        <div class="col-xs-12" ng-if="ctrl.following.length === 0">
            <i class="fa fa-info-circle"></i>
            <span>You are currently not following any artists. <a href ng-click="ctrl.clickSearch()">Search</a> artists to follow them.</span>
        </div>

        <!-- Grid -->
        <div ng-if="ctrl.artist_grid">
            <div class="col-md-2 col-sm-4 col-xs-12 pt15" ng-repeat="obj in ctrl.following track by obj.id" ng-init="artist = obj.artist">
                <div class="artist-card button" ng-click="ctrl.goToArtist(artist)">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <img ng-if="artist.pic_url !== null" ng-src="{{artist.pic_url}}" />
                        <img ng-if="artist.pic_url === null" src="resources/images/noImage.jpg" />
                    </div>
                    <div class="artist-content">
                        <h3>{{artist.username}}</h3>
                        <h4 class="pt15">
                            <!--<label class="label label-success" ng-if="artist.track_count > 0">{{artist.track_count | number}} track<span ng-if="artist.track_count > 1">s</span></label>-->
                            <!--<label class="label label-danger" ng-if="artist.track_count === 0">{{artist.track_count}} tracks</label>-->
                        </h4>
                    </div>
                </div>
                <div class="card-footer delete col-xs-12 pl0 pr0 button" ng-click="ctrl.unfollow(artist)">
                    <div class="col-md-12 text-center">
                        <p>Unfollow</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="col-md-4" ng-if="!ctrl.artist_grid && ctrl.following.length > 0">
            <table class="col-md-12 table mt15 pl0 pr0">
                <thead class="custom-font">
                <tr>
                    <th class="hidden-xs">#</th>
                    <th class="button">Name</th>
                    <th class="button">Unfollow</th>
                </tr>
                </thead>

                <tbody ng-repeat="obj in ctrl.following track by obj.id" ng-init="artist = obj.artist" title="{{artist.username}}">
                <tr class="button">
                    <td ng-click="ctrl.goToArtist(artist)" class="hidden-xs">{{$index+1}}</td>
                    <td ng-click="ctrl.goToArtist(artist)">
                        <img ng-if="artist.pic_url !== null" class="track-image" ng-src="{{artist.pic_url}}">
                        <img ng-if="artist.pic_url === null" class="track-image" src="resources/images/noImage.jpg">
                        <span>{{artist.username}}</span>
                    </td>
                    <td ng-click="ctrl.unfollow(artist)">
                        <div class="pt5">
                            <a href class="label label-danger small">Unfollow</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-12 pl0 pr0">
        <div class="pl15">
            <h3><span>Your playlists</span>  <a href ng-click="ctrl.pl_grid = !ctrl.pl_grid" ng-if="ctrl.playlists.length > 0"><i ng-if="!ctrl.pl_grid" class="fa fa-th"></i> <i ng-if="ctrl.pl_grid" class="fa fa-list"></i></a></h3>
        </div>

        <div class="col-xs-12 pb10" ng-if="ctrl.playlists.length === 0">
            <i class="fa fa-info-circle"></i>
            <span>You have no playlists. <a href ng-click="ctrl.showForm = true" ng-if="!ctrl.showForm">Add</a><a href ng-click="ctrl.showForm = false" ng-if="ctrl.showForm">Cancel</a></span>
        </div>

        <div ng-if="ctrl.showForm">
            <div class="col-md-2 pt10 pb10">
                <input type="text" class="form-control" ng-click="ctrl.focus($event)"
                       ng-model="ctrl.name" ng-enter="ctrl.addPlaylist()" auto-focus>
            </div>
            <a class="fa-2x" ng-click="ctrl.addPlaylist()" href title="Confirm" ng-if="ctrl.name.length > 0"><i class="fa fa-check pt10"></i></a>
        </div>

        <!-- Grid -->
        <div ng-if="ctrl.pl_grid">
            <div class="col-md-2 col-xs-12 col-sm-4 pt15 pb10" ng-repeat="playlist in ctrl.playlists track by playlist.id">
                <div class="card col-xs-12 text-center button mb0" ng-click="ctrl.goToPlaylist(playlist)" style="background-color: deepskyblue">
                    <h4 class="custom-font">
                        <a ng-href="#/playlist/{{playlist.id}}" style="color: white">{{playlist.name | limitTo: 70}}</a>
                        <span ng-if="playlist.name > 70"> . . . </span>
                    </h4>
                    <h4 class="mb15">
                        <label class="label" ng-if="playlist.songs.length > 0" style="background-color: midnightblue">{{playlist.songs.length | number}} track<span ng-if="playlist.songs.length > 1">s</span></label>
                        <label class="label label-danger" ng-if="playlist.songs.length === 0">0 tracks</label>
                    </h4>
                </div>
                <div class="card-footer delete col-xs-12 pl0 pr0 button" ng-click="ctrl.deletePlaylist(playlist)">
                    <div class="col-md-12 text-center">
                        <p>Delete</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="col-md-4" ng-if="!ctrl.pl_grid && ctrl.playlists.length > 0">
            <table class="col-md-12 table mt15 pl0 pr0 pb10">
                <thead class="custom-font">
                <tr>
                    <th class="hidden-xs">#</th>
                    <th class="button">Name</th>
                    <th class="button">Delete</th>
                </tr>
                </thead>

                <tbody ng-repeat="playlist in ctrl.playlists track by playlist.id" title="{{playlist.name}}">
                <tr class="button">
                    <td ng-click="ctrl.goToPlaylist(playlist)" class="hidden-xs">{{$index+1}}</td>
                    <td ng-click="ctrl.goToPlaylist(playlist)">{{playlist.name}}</td>
                    <td ng-click="ctrl.deletePlaylist(playlist)">
                        <div class="pt5" style="font-size: 25px;">
                            <a href>
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>