<div class="login-page" ng-init="ctrl.init()">


    <div class="page-one">


        <div class="landing-main-text col-xs-12 text-center custom-font">
            <div class="headliner">
                <span>SoundBox</span>
            </div>
            <div class="subliner">
                <span>Premium quality music without the price</span>
            </div>

            <a ng-click="ctrl.showLogin()" id="loginBtn" class="btn btn-pill">Login </a>
        </div>


        <div ng-if="ctrl.showForms" class="text-center">
            <div ng-if="ctrl.noUserFound && !ctrl.showRegisterForm" class="col-sm-12">
                <div class="alert-warning">No user found!</div>
            </div>
            <div class="panel login-form">
                <div class="panel-body">

                    <!-- Login Form -->
                    <div ng-if="ctrl.showLoginForm">

                        <form>
                            <span class="pull-left">Email: </span>
                            <input type="text" ng-model="ctrl.email" class="form-control" ng-enter="ctrl.login()">
                        </form>

                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!ctrl.email"
                                ng-click="ctrl.login()">Sign in
                        </button>

                        <br>
                        <p class="small">Don't have an account?<a href="" ng-click="ctrl.showRegisterForm = true; ctrl.showLoginForm = false"> Register
                            here</a>
                        </p>
                    </div>

                    <!-- Register Form -->
                    <div ng-if="ctrl.showRegisterForm">

                        <form class="form-register">
                            <span class="pull-left">Name: </span>
                            <input type="text" ng-model="ctrl.name" class="form-control">
                            <span class="pull-left">Email: </span>
                            <input type="text" ng-model="ctrl.email" ng-enter="ctrl.register()" class="form-control">
                        </form>

                        <span ng-if="ctrl.emailTaken" class="pb5"><i class="fa fa-exclamation-circle"></i> Sorry, but this email is already taken.</span>

                        <button class="btn btn-lg btn-primary btn-block" ng-disabled="!ctrl.name || !ctrl.email"
                                type="submit"
                                ng-click="ctrl.register()">Register!
                        </button>

                        <br>
                        <p class="small">Already have an account?<a href="" ng-click="ctrl.showRegisterForm = false; ctrl.showLoginForm = true"> Sign in </a></p>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="page-two">

        <div class="header">
            <!--<a id="loginBtn" class="mt15 btn btn-pill">Login</a>-->
        </div>
    </div>

    <div class="page-three">


    </div>

</div>



