<div class="col-md-12 col-xs-12 pt10" style="background-color: white">

    <div class="col-md-6 col-sm-6 col-xs-12 mb15 mt15">
        <button class="btn btn-lg btn-social btn-facebook btn-block" type="submit" ng-click="ctrl.login()"><i class="fa fa-facebook-official"></i> Facebook</button>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 mb15 mt15">
        <button class="btn btn-lg btn-soundcloud btn-block" type="submit" ng-click="ctrl.demo()">Login for a Demo</button>
    </div>

</div>
<div ng-if="ctrl.loggedIn" circle-check></div>
