<div class="card side-card">
    <div class="card-red panel-body" ng-if="!ctrl.showSearch">
        <div class="pull-left custom-font">
            <span class="pl10" style="font-size: 18px">Favorite Artists</span>
        </div>
        <!--<div class="pull-right">-->
            <!--<a ng-if="ctrl.favorites.length > 0" ng-click="ctrl.showSearch = true" href title="Search your favorites"><i class="fa fa-search" style="font-size: 25px"></i></a>-->
        <!--</div>-->
    </div>

    <!-- Search bar -->
    <!--<div class="card-purple panel-body" ng-if="ctrl.showSearch">-->
        <!--<div class="has-feedback">-->
            <!--<input class="form-control" ng-model="ctrl.filter">-->
            <!--<i class="pt10 fa fa-times-circle-o form-control-feedback" style="pointer-events: all" ng-click="ctrl.showSearch = false"></i>-->
        <!--</div>-->
    <!--</div>-->

    <div class="button col-md-12 pl0 pr0" ng-mouseover="artist.showOptions = true" ng-mouseleave="artist.showOptions = false"
         ng-repeat="artist in ctrl.favorites track by artist.id">
        <div class="panel-body col-md-10 pl0 pr0" title="{{artist.full_name}}" ng-click="ctrl.goToArtist(artist)">
            <img ng-src="{{artist.avatar_url}}" style="height: 50px; width: 50px; display: inline-block">
            <span ng-if="artist.artwork_url === null" ng-click="ctrl.setArtist(artist)"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
            {{artist.permalink | limitTo: 70}} <span ng-click="ctrl.setArtist(artist)" ng-if="artist.full_name.length > 70"> . . . </span>
        </div>

        <div ng-if="artist.showOptions">
            <div class="col-md-2 pl0 pr0 panel-body pull-right" style="min-height: 80px">
                <div class="button" ng-click="ctrl.removeFavorite(artist)" title="Delete favorite">
                <span class="pl0 pr0">
                    <i class="fa fa-trash-o pt15"></i>
                </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Message when there are no favorites -->
    <div ng-if="ctrl.favorites.length === 0">
        <div class="panel-body col-md-12 text-center">
            <h4 class="custom-font"> You have no favorite artists</h4>
        </div>
    </div>
</div>