<div class="card side-card">
    <div class="card-red panel-body">
        <span><i class="fa fa-star-o"></i> Favorite Artists</span>
    </div>

    <div class="button" ng-mouseover="artist.showOptions = true" ng-mouseleave="artist.showOptions = false" ng-repeat="artist in ctrl.favorites track by artist.id">
        <div class="panel-body col-md-10" title="{{artist.full_name}}" ng-click="ctrl.goToArtist(artist)">
            <img ng-src="{{artist.avatar_url}}" style="height: 50px; width: 50px; display: inline-block">
            <span ng-if="artist.artwork_url === null" ng-click="ctrl.setArtist(artist)"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
            {{artist.permalink | limitTo: 70}} <span ng-click="ctrl.setArtist(artist)" ng-if="artist.full_name.length > 70"> . . . </span>
        </div>

        <div class="col-md-2 pl0 pr0 panel-body pull-right">
            <div ng-if="artist.showOptions" class="button" ng-click="ctrl.removeFavorite(artist)">
                <span class="pl0 pr0">
                    <i class="fa fa-trash-o pt15"></i>
                </span>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.favorites.length === 0">
        <div class="panel-body col-md-12 text-center">
            <h4 class="custom-font"> You have no favorite artists</h4>
        </div>
    </div>
</div>