<div class="card col-xs-12 col-md-12 col-sm-6 pl0 pr0" ng-init="ctrl.init()">
    <div class="side-card-main">
        <div class="card-red panel-body" ng-if="!ctrl.showSearch" style="height: 68px">
            <div class="pull-left custom-font pt5">
                <span class="pl10" style="font-size: 18px">Following Artists ({{ctrl.following.length}})</span>
            </div>
            <div class="pull-right pt5">
                <a ng-if="ctrl.following.length > 0" ng-click="ctrl.showSearch = true" href title="Search the artists you follow"><i class="fa fa-search" style="font-size: 25px"></i></a>
            </div>
        </div>

         <!--Search bar -->
        <div class="card-purple panel-body" ng-if="ctrl.showSearch">
            <div class="has-feedback">
                <input class="form-control" ng-model="ctrl.filter">
                <i class="pt10 fa fa-times-circle-o form-control-feedback" style="pointer-events: all" ng-click="ctrl.showSearch = false"></i>
            </div>
        </div>

        <div class="button col-md-12 pl0 pr0" ng-mouseover="artist.showOptions = true" ng-mouseleave="artist.showOptions = false"
             ng-repeat="artist in ctrl.following | filter: ctrl.filter | limitTo: 4 track by artist.id">
            <div class="panel-body col-md-8" title="{{artist.username}}" ng-click="ctrl.goToArtist(artist)">
                <img ng-if="artist.pic_url !== null" ng-src="{{artist.pic_url}}" height="50px" width="50px" style="display: inline-block">
                <img ng-if="artist.pic_url === null" src="resources/images/noImage.jpg" height="50px" width="50px">
                {{artist.username | limitTo: 70}} <span ng-if="artist.username.length > 70"> . . . </span>
            </div>

            <div ng-if="artist.showOptions">
                <div class="col-md-4 panel-body pull-right" style="min-height: 80px">
                    <div class="button label label-danger small" ng-click="ctrl.unfollow(artist)" title="unfollow">

                        <span class="pl0 pr0">Unfollow <i class="fa fa-trash-o pt15"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="ctrl.following.length === 0">
            <div class="panel-body col-md-12 text-center">
                <h4 class="custom-font"> You are not following any artists</h4>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.following.length > 4" class="card-footer show-more col-xs-12 button" ng-click="ctrl.goToBrowse()">
        <div class="col-md-12 text-center">
            <p> Show more</p>
        </div>
    </div>
</div>