<div class="container-fluid">

    <div class="col-md-4">

        <div class="list-group col-md-12">
            <a class="list-group-item">
                <h5 class="list-group-item-heading">Account Settings</h5>
                <p class="list-group-item-text">Manage your account settings</p>
            </a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <h4 class="semibold">Account</h4>
                <p>These settings control your account information.</p>
                <hr>

                <div class="form-group col-md-11">
                    <label class="col-md-3"><span class="pull-right">Name</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="text" class="form-control" ng-model="ctrl.currentUser.name" disabled>
                        <p class="help-block">Enter your real name.</p>
                    </div>
                </div>

                <div class="form-group col-md-11">
                    <label class="col-md-3"><span class="pull-right">Email</span></label>
                    <div class="col-md-9 pull-right">
                        <input type="text" class="form-control" ng-model="ctrl.currentUser.email"
                               ng-disabled="true">
                        <p class="help-block">Enter your email.</p>
                    </div>
                </div>
                <div class="col-md-12 mb15 mt15">
                    <a ng-if="ctrl.showResetPassword" ng-click="ctrl.showResetPassword = false" href>Cancel</a>
                    <a ng-if="!ctrl.showResetPassword" ng-click="ctrl.showResetPassword = true" href>Reset Password</a>
                </div>

                <div ng-if="ctrl.showResetPassword" class="col-md-12">
                    <div class="form-group col-md-11">
                        <label class="col-md-3"><span class="pull-right">Current Password: </span></label>
                        <div class="col-md-9 pull-right">
                            <input type="password" class="form-control" ng-model="ctrl.currentPass">
                            <span class="pt5 pb0 mb0" style="color: red" ng-if="ctrl.incorrectPassword"><small>Current Password is incorrect</small></span>
                        </div>
                    </div>

                    <div class="form-group col-md-11">
                        <label class="col-md-3"><span class="pull-right">New Password: </span></label>
                        <div class="col-md-9 pull-right">
                            <input type="password" class="form-control" ng-model="ctrl.reset1">
                        </div>
                    </div>

                    <div class="form-group col-md-11">
                        <label class="col-md-3"><span class="pull-right">New Password: </span></label>
                        <div class="col-md-9 pull-right">
                            <input type="password" class="form-control" ng-model="ctrl.reset2">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb15" ng-click="ctrl.resetPassword()"
                            ng-disabled="!ctrl.currentPass || !ctrl.reset1 || (ctrl.reset1 !== ctrl.reset2)">
                        Reset
                    </button>
                </div>

                <div ng-if="ctrl.success" circle-check></div>

            </div>
        </div>
    </div>

</div>