<div class="container-fluid">
    <div ng-init="ctrl.init()" class="col-md-9 pt0">

        <search-bar></search-bar>

        <!-- Message when the user doesn't have any tracks -->
        <div ng-if="ctrl.tracks.length === 0" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No tracks by {{ctrl.artist.username}}</p>
                </div>
            </div>
        </div>

        <!-- Message when artist not found -->
        <div ng-if="ctrl.artistNotFound" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No artist found</p>
                </div>
            </div>
        </div>

        <!-- Artist Card -->
        <div class="pl0" ng-if="ctrl.artist">
            <div class="col-md-5 col-xs-12 pl0 pr0 pt10">
                <div class="artist-card">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <img ng-if="ctrl.artist.pic_url !== null" ng-src="{{ctrl.artist.pic_url}}" />
                        <img ng-if="ctrl.artist.pic_url === null" src="resources/images/noImage.jpg" />
                    </div>
                    <div class="artist-content">
                        <h3>{{ctrl.artist.username}}</h3>
                        <a href ng-click="ctrl.toggleFollow(ctrl.artist)" class="custom-white" ng-if="ctrl.currentUser.fb_id !== ctrl.artist.fb_id">
                            <span ng-if="!ctrl.isFollowing(ctrl.artist)">
                                <i class="fa fa-plus-circle"></i> Follow artist
                            </span>

                            <span ng-if="ctrl.isFollowing(ctrl.artist)">
                                <i class="fa fa-minus-circle"></i> Unfollow artist
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <upload-music class="col-md-6 col-xs-12 pl0 pr0 pull-right pt10" ng-if="ctrl.currentUser.fb_id === ctrl.artist.fb_id"></upload-music>

            <h3 class="col-xs-12" ng-if="ctrl.loading">Loading...</h3>
            <h3 class="col-xs-12" ng-if="ctrl.errorGettingAll">Error getting all tracks</h3>

            <music-table class="col-xs-12 pl0 pr0" ng-if="ctrl.tracks.length > 0" playlists="ctrl.playlists"
                         tracks="ctrl.tracks" showdate="true"></music-table>
        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <following-card following="ctrl.following"></following-card>
        <playlist-card playlists="ctrl.playlists"></playlist-card>
    </div>

</div>