<div class="container-fluid">
    <div ng-init="ctrl.init()" class="col-md-9 pt0">

        <search-bar></search-bar>

        <!-- Message when the there's a technical error -->
        <div ng-if="ctrl.tracks.length < ctrl.artist.track_count" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>Unexpected error occurred fetching tracks for {{ctrl.artist.permalink}}</p>
                </div>
            </div>
        </div>

        <!-- Message when the user doesn't have any tracks -->
        <div ng-if="ctrl.artist.track_count === 0" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No tracks by {{ctrl.artist.permalink}}</p>
                </div>
            </div>
        </div>

        <!-- Message when artist not found -->
        <div ng-if="ctrl.artistNotFound" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No artist found</p>
                </div>
            </div>
        </div>

        <!-- Initial songs list by all favorites -->
        <div class="pl0">
            <div class="col-md-12 col-sm-12 pl0 pr0 pt15">
                <!-- this div for artist card -->
                <div ng-if="ctrl.artist"
                     class="mb10 card-sc panel-body pt0 pb0 card card-purple col-md-5 col-sm-6 col-xs-12 pl0 pr0"
                     style="min-height: 104px">
                    <div class="mr15 pl0 pr0">
                        <img ng-src="{{ctrl.artist.avatar_url}}"
                             style="height: 100px; width: 100px; display: inline-block">
                        <img ng-if="ctrl.artist.artwork_url === null" height="100px" width="100px"
                             src="resources/images/noImage.jpg">

                        <span class="custom-font pl15">
                            <a ng-href="{{ctrl.artist.permalink_url}}" target="_blank">{{ctrl.artist.permalink}}</a>
                        </span>

                        <i class="fa fa-2x fa-plus button"
                           ng-click="ctrl.addFavorite(ctrl.artist)"
                           ng-if="!ctrl.isFavorite(ctrl.artist)">
                        </i>
                    </div>
                </div>
            </div>

            <music-table ng-if="ctrl.tracks.length > 0" playlists="ctrl.playlists"
                         tracks="ctrl.tracks" showdate="true"></music-table>
        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <favorites-card favorites="ctrl.favorites"></favorites-card>
        <playlist-card playlists="ctrl.playlists"></playlist-card>
    </div>

</div>