<div class="container-fluid">
    <div ng-init="ctrl.init()" class="col-md-9 pt0">

        <search-bar></search-bar>

        <!-- Message when the there's a technical error -->
        <div ng-if="ctrl.tracks.length < ctrl.artist.track_count" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>Unexpected error occurred fetching tracks for {{ctrl.artist.permalink}}</p>
                </div>
            </div>
        </div>

        <!-- Message when the user doesn't have any tracks -->
        <div ng-if="ctrl.artist.track_count === 0" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No tracks by {{ctrl.artist.permalink}}</p>
                </div>
            </div>
        </div>

        <!-- Message when artist not found -->
        <div ng-if="ctrl.artistNotFound" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No artist found</p>
                </div>
            </div>
        </div>

        <!-- Artist Card -->
        <div class="pl0" ng-if="ctrl.artist">
            <div class="col-md-5 col-xs-12 pl0 pr0 pt10">
                <div class="artist-card">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <img ng-src="{{ctrl.artist.avatar_url}}" />
                        <img ng-if="ctrl.artist.artwork_url === null" src="resources/images/noImage.jpg" />
                    </div>
                    <div class="artist-content">
                        <h3>{{ctrl.artist.permalink}}</h3>
                        <p ng-if="!ctrl.isFavorite(ctrl.artist)">
                            <a href ng-click="ctrl.addFavorite(ctrl.artist)" class="custom-white"><i class="fa fa-plus-circle"></i> Follow artist</a>
                        </p>
                        <p ng-if="ctrl.isFavorite(ctrl.artist)">
                            <a href ng-click="ctrl.removeFavorite(ctrl.artist)" class="custom-white"><i class="fa fa-minus-circle"></i> Unfollow artist</a>
                        </p>
                    </div>
                </div>
            </div>

            <music-table ng-if="ctrl.tracks.length > 0" playlists="ctrl.playlists"
                         tracks="ctrl.tracks" showdate="true"></music-table>
        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <favorites-card favorites="ctrl.favorites"></favorites-card>
        <playlist-card playlists="ctrl.playlists" currentuser="ctrl.currentUser"></playlist-card>
    </div>

</div>