<table class="col-md-12 table mt15 pl0 pr0">
    <thead>
        <tr>
            <th class="hidden-xs">#</th>
            <th ng-click="ctrl.sort('title')" class="button">Title <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('artist')" class="button" ng-if="ctrl.showartist">Artist <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('plays')" class="button hidden-xs">Plays <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('duration')" class="button hidden-xs">Duration <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('date')" class="button hidden-xs" ng-if="ctrl.showdate">Date <i class="fa fa-sort"></i></th>
        </tr>
    </thead>

    <tbody ng-repeat="song in ctrl.tracks | filter: ctrl.search track by song.id" title="{{song.title}}">
        <tr ng-class="ctrl.isPlaying(song)" class="button">

            <td ng-click="ctrl.select(song)" class="hidden-xs">{{$index+1}}</td>
            <td ng-click="ctrl.select(song)">
                <img ng-if="song.artwork_url !== null" class="track-image" ng-src="{{song.artwork_url}}">
                <img ng-if="song.artwork_url === null" class="track-image" src="resources/images/noImage.jpg">
                <a>{{song.title | limitTo: 30}}<span ng-if="song.title.length > 30">... </span></a>
            </td>
            <td ng-click="ctrl.select(song)" style="vertical-align: middle" ng-if="ctrl.showartist"><a ng-href="{{song.user.permalink_url}}" target="_blank">{{song.user.username}}</a></td>
            <td ng-click="ctrl.select(song)" style="vertical-align: middle" class="hidden-xs">{{song.playback_count | number}}</td>
            <td ng-click="ctrl.select(song)" style="vertical-align: middle" class="hidden-xs">{{ctrl.milliToTime(song.duration)}}</td>
            <td ng-click="ctrl.select(song)" style="vertical-align: middle" class="hidden-xs" ng-if="ctrl.showdate">{{ctrl.getDate(song.created_at)}}</td>
            <td ng-if="ctrl.playlists.length > 0">
                <div class="pt15 fa-2x" uib-dropdown is-open="song.status.isOpen" uib-dropdown-toggle>
                    <a class="custom-orange"><i class="fa fa-ellipsis-v"></i></a>
                    <ul uib-dropdown-menu>
                        <li ng-if="ctrl.isplaylist" class="menu-item"><a ng-click="ctrl.removeSongFromPlaylist(song)" href><i class="fa fa-trash-o"></i> Delete </a></li>
                        <li ng-if="ctrl.isplaylist" class="divider"></li>
                        <span class="pl15"> Add to Playlist</span>
                        <li class="divider"></li>
                        <li class="menu-item" ng-repeat="playlist in ctrl.playlists track by playlist.id">
                            <a href ng-click="ctrl.addSongToPlaylist(song, playlist)">{{playlist.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>

</table>