<div class="col-md-12 col-sm-12 pl0 pr0 pt15" ng-init="ctrl.init()">
    <span class="pull-left col-md-2 col-xs-12 pl0 pr0" ng-if="ctrl.tracks">
        <b><i class="fa fa-exclamation-circle custom-blue"></i> {{ctrl.tracks.length}} tracks</b>
    </span>
</div>

<table class="col-md-12 table mt15 pl0 pr0">
    <thead class="custom-font">
        <tr>
            <th class="hidden-xs">#</th>
            <th ng-click="ctrl.sort('title')" class="button">Title <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('artist')" class="button" ng-if="ctrl.showartist">Artist <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('plays')" class="button hidden-xs">Plays <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('duration')" class="button hidden-xs">Duration <i class="fa fa-sort"></i></th>
            <th ng-click="ctrl.sort('date')" class="button hidden-xs" ng-if="ctrl.showdate">Date <i class="fa fa-sort"></i></th>
        </tr>
    </thead>

    <tbody ng-repeat="song in ctrl.tracks.slice(((ctrl.currentPage-1) * ctrl.itemsPerPage), ((ctrl.currentPage) * ctrl.itemsPerPage)) track by song.id" title="{{song.title}}">
        <tr ng-class="{button: !ctrl.isPlaying(song), trackplaying: ctrl.isPlaying(song)}">

            <td ng-click="ctrl.select(song)" class="hidden-xs">{{$index+1}}</td>
            <td ng-click="ctrl.select(song)">
                <img ng-if="song.artwork_url !== null" class="track-image" ng-src="{{song.artwork_url}}">
                <img ng-if="song.artwork_url === null" class="track-image" src="resources/images/noImage.jpg">
                <a>{{song.title | limitTo: 45}}<span ng-if="song.title.length > 45">... </span></a>
            </td>
            <td ng-click="ctrl.select(song)" ng-if="ctrl.showartist"><a href ng-href="#/artist/{{song.user.permalink}}">{{song.user.username}}</a></td>
            <td ng-click="ctrl.select(song)" class="hidden-xs">{{song.playback_count | number}}</td>
            <td ng-click="ctrl.select(song)" class="hidden-xs">{{ctrl.milliToTime(song.duration)}}</td>
            <td ng-click="ctrl.select(song)" class="hidden-xs" ng-if="ctrl.showdate">{{ctrl.getDate(song.created_at)}}</td>
            <td ng-click="ctrl.likeSong(song)">
                <div class="pt5" style="font-size: 25px;">
                   <a ng-if="ctrl.isLiked(song)">
                       <i class="fa fa-thumbs-up"></i>
                   </a>
                    <a ng-if="!ctrl.isLiked(song)">
                       <i class="fa fa-thumbs-o-up" style="padding-right: 2px; color: black;"></i>
                   </a>
                </div>
            </td>
            <td ng-if="ctrl.playlists.length > 0">
                <div class="pt5 fa-2x" uib-dropdown is-open="song.status.isOpen" uib-dropdown-toggle>
                    <a class="custom-orange"><i class="fa fa-ellipsis-v"></i></a>
                    <ul uib-dropdown-menu>
                        <li ng-if="ctrl.isplaylist" class="menu-item"><a ng-click="ctrl.removeSongFromPlaylist(song)" href><i class="fa fa-trash-o"></i> Delete </a></li>
                        <li class="menu-item" ng-repeat="playlist in ctrl.playlists track by playlist.id">
                            <a ng-if="playlist.id !== ctrl.currentplaylist.id" href ng-click="ctrl.addSongToPlaylist(song, playlist)">Add to {{playlist.name}}</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center col-xs-12" ng-if="ctrl.tracks.length > 20">
    <uib-pagination total-items="ctrl.tracks.length" items-per-page="ctrl.itemsPerPage" ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()"></uib-pagination>
</div>