<div ng-init="ctrl.init()">
    <div ng-if="ctrl.show" class="col-xs-12 pl0 pr0">
        <div ng-repeat="comment in ctrl.comments track by comment.id" class="col-xs-12 pl0 pr0" style="border-bottom: 1px solid #eee">
            <div class="comment col-xs-12" style="padding: 5px">
                <img ng-src="comment.author.pic_url" height="73px" width="73px" ng-if="comment.author.pic_url !== null">
                <img src="resources/images/noImage.jpg" height="73px" width="73px" ng-if="comment.author.pic_url === null">
                <div class="info pull-right col-xs-10 pl0 pr0">
                    <span>{{comment.text}}</span><br>
                    <span class="artist"><a href ng-click="ctrl.goToArtist(comment.autho)">{{comment.author.username}}</a></span>
                    <p>{{comment.created_date | date}}</p>
                </div>
            </div>
        </div>
        <div class="add-comment-section col-xs-12" style="padding: 5px">
            <button class="btn btn-primary pull-right" ng-click="ctrl.showForm = true" ng-if="!ctrl.showForm">Add comment</button>
            <div ng-if="ctrl.showForm" class="col-xs-12" style="padding: 10px">
                <form class="form-register">
                    <span class="pull-left">Comment: </span>
                    <textarea rows="3" ng-model="comment.text" class="form-control" maxlength="1000"></textarea>
                </form>
                <button class="btn btn-default" ng-click="ctrl.showForm = false">Cancel</button>
                <button class="btn btn-soundcloud pull-right" ng-click="ctrl.postComment(comment.text)" ng-disabled="!comment.text">Post Comment</button>
            </div>
        </div>
    </div>
</div>