<div ng-controller='NavCtrl as ctrl'>

    <div class="main-nav custom-font" ng-if="ctrl.inApp">
        <a class="col-xs-2" ng-href="#/" style="background-color: #0b97c4">
            <h1 class="text-center"><p class="custom-white">SoundBox</p></h1>
        </a>

        <div class="nav-items">
            <a class="nav-item custom-white" ng-href="#/music"><i class="fa fa-headphones"></i> Music</a>
            <a class="nav-item custom-orange" ng-href="#/videos"><i class="fa fa-tv"></i> YouTube</a>
            <a class="nav-item custom-green" ng-href="#/profile"><i class="fa fa-user"></i> Profile</a>
            <a class="nav-item custom-blue" ng-href="#/hot-n-new"><i class="fa fa-fire"></i> Hot and New!</a>
        </div>
    </div>

    <div class="col-xs-2 pull-right" ng-init="ctrl.init()">
        <div id="social-nav" class="btn-group pull-right" role="group">
            <a href="https://www.linkedin.com/in/sodhim" class="btn btn-linkedin">LinkedIn</a>
            <a href="https://github.com/mssodhi/" class="btn btn-github">GitHub</a>
            <a ng-click="ctrl.signOut()" ng-if="ctrl.inApp" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <br>

    <div class="footer" ng-if="ctrl.player && ctrl.inApp">

        <img class="pull-left" ng-src="{{ctrl.track.artwork_url}}">

        <div class="col-md-3">
            <h4><a ng-href="{{ctrl.track.permalink_url}}" target="_blank" style="color: white" title="ctrl.track.title">{{ctrl.track.title | limitTo: 40}}<span ng-if="ctrl.track.title.length > 40">... </span></a></h4>
            <h6><a ng-href="{{ctrl.track.user.permalink_url}}" target="_blank" style="color: white">{{ctrl.track.user.username}}</a></h6>

            <span>{{ctrl.milliToTime(ctrl.player.currentTime())}} / {{ctrl.milliToTime(ctrl.track.duration)}}</span>
        </div>

        <div class="col-md-5 mt15 text-center">

            <span class="fa fa-3x fa-backward button pr15 rewind-btn" ng-dblclick="ctrl.getPrevious()" ng-click="ctrl.rewind()"></span>
            <span class="fa fa-3x fa-play button play-btn" ng-if="!ctrl.isPlaying || ctrl.progress >= 100" ng-click="ctrl.play()"></span>
            <span class="fa fa-3x fa-pause button pause-btn" ng-if="ctrl.isPlaying" ng-click="ctrl.pause()"></span>
            <span class="fa fa-3x fa-forward button next-btn pl15" ng-click="ctrl.next()"></span>

            <div id="progress-bar" class="button music-bar-background ml15 mr15 mt15">
                <div class="music-bar" ng-style="ctrl.myStyle"></div>
            </div>
        </div>

    </div>

</div>