<div ng-controller="NavCtrl as ctrl" ng-class="{'side-menu-active': ctrl.showSideMenu}">
    <div ng-if="ctrl.inApp">
        <div class="backdrop"></div>
        <div class="navbar navbar-default navbar-fixed-top" style="background-color: dodgerblue">
            <div class="navbar-header">
                <a href ng-click="ctrl.showSideMenu = !ctrl.showSideMenu" ng-blur="ctrl.hideSideMenu()" class="hamburger"><span class="sr-only">left-navigation</span></a>
                <div class="divider"></div>
                <div class="project"><a href="#/">{{ctrl.getNavBrandName()}}</a></div>
            </div>

            <!--<div class="navbar-right">-->
                <!--<div class="domino">-->
                    <!--<a href ng-click="ctrl.search = true" class="navbar-icon">-->
                        <!--<i class="fa fa-search fa-2x"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="sidebar">
            <ul class="sidebar-nav">
                <li ng-repeat="menuItem in ctrl.menuItems" ng-class="{'active': menuItem.link === ctrl.currentPath()}">
                    <a ng-href="{{menuItem.link}}" ng-if="menuItem.link" class="e2e-sidebar-link">{{menuItem.title}}</a>
                    <div ng-if="!menuItem.link">{{menuItem.title}}</div>
                    <ul ng-if="menuItem.children" ng-repeat="subMenuItem in menuItem.children" class="list-unstyled">
                        <li ng-class="{'active': subMenuItem.link === ctrl.currentPath()}">
                            <a ng-href="{{subMenuItem.link}}">{{subMenuItem.title}}</a>
                        </li>
                    </ul>
                </li>
                <li><a href ng-click="ctrl.signOut()">Logout</a></li>
            </ul>
        </div>
    </div>

    <div ng-if="ctrl.inApp">
        <music-player></music-player>
    </div>
</div>