<div ng-controller='NavCtrl as ctrl'>

    <div class="sidemenu" ng-if="ctrl.inApp">

        <a class="col-xs-12" ng-href="#/landing">
            <h1 class="text-center custom-font"><p>Soundbox</p></h1>
        </a>

        <img ng-src="/test/resources/images/pic.jpg" class="sidemenu-image"/>

        <h3 class="text-center custom-font">Welcome {{ctrl.currentUser.name}}</h3>

        <div id="menu-items" class="text-center menu-items">
            <a ng-href="#/music">
                <div class="cell" ng-class="ctrl.isActive('/music')">
                    <p><span class="fa fa-headphones fa-2x"> </span> Music</p>
                </div>
            </a>

            <a ng-href="#/videos">
                <div class="cell" ng-class="ctrl.isActive('/videos')">
                    <p><span class="fa fa-tv fa-2x"></span> Videos</p>
                </div>
            </a>

            <a ng-href="#/profile">
                <div class="cell" ng-class="ctrl.isActive('/profile')">
                    <p><span class="fa fa-user fa-2x"></span> Profile</p>
                </div>
            </a>
        </div>

        <div class="text-center" ng-if="ctrl.player">
            <img class="mb15" ng-src="{{ctrl.track.artwork_url}}">
            <br>
            <span class="fa fa-2x fa-step-backward button pr15" ng-dblclick="ctrl.getPrevious()" ng-click="ctrl.rewind()"></span>
            <span class="fa fa-2x fa-play button" ng-if="!ctrl.isPlaying || ctrl.progress >= 100" ng-click="ctrl.play()"></span>
            <span class="fa fa-2x fa-pause button" ng-if="ctrl.isPlaying" ng-click="ctrl.pause()"></span>
            <span class="fa fa-2x fa-step-forward button pl15" ng-click="ctrl.next()"></span>

            <div>
                <span>{{ctrl.milliToTime(ctrl.player.currentTime())}}</span> of
                <span>{{ctrl.milliToTime(ctrl.track.duration)}}</span>

                <div id="progress-bar" class="button music-bar-background ml15 mb15 mr15">
                    <div class="music-bar" ng-style="ctrl.myStyle"></div>
                </div>
            </div>

            <div>
                <span><a ng-href="{{ctrl.track.permalink_url}}" target="_blank">{{ctrl.track.title}}</a> by </span>
                <span><a ng-href="{{ctrl.track.user.permalink_url}}" target="_blank">{{ctrl.track.user.username}}</a></span>
            </div>
        </div>

        <div class="col-xs-12 text-center pb15">
            <br>
            <span class="glyphicon glyphicon-apple"> Created on a MacBook Pro</span>
        </div>

    </div>

    <div class="col-xs-11 pull-right" ng-init="ctrl.init()">
        <div id="social-nav" class="btn-group pull-right" role="group">
            <a href="https://www.linkedin.com/in/sodhim" class="btn btn-linkedin">LinkedIn</a>
            <a href="https://github.com/mssodhi/" class="btn btn-github">GitHub</a>
            <a ng-click="ctrl.signOut()" ng-if="ctrl.inApp" class="btn btn-danger">Logout</a>
        </div>
    </div>
    <br>

</div>