<div class="container-fluid col-xs-12 pl0 pr0" ng-init="ctrl.init()">
    <div class="col-md-9">
        <search-bar></search-bar>
    </div>

    <div class="col-xs-12 pl0 pr0 pb10">
        <div class="pl15">
            <h3><span>Top trending</span> <a href ng-click="ctrl.grid = !ctrl.grid"><i ng-if="!ctrl.grid" class="fa fa-th"></i> <i ng-if="ctrl.grid" class="fa fa-list"></i></a></h3>
            <select ng-options="genre as genre.name for genre in ctrl.genres track by genre.id" ng-model="ctrl.selectedGenre"
                    ng-change="ctrl.getTop(ctrl.selectedGenre.value)"></select>
        </div>

        <div ng-if="ctrl.grid">
            <div class="col-md-2 col-sm-4 col-xs-12 pt15" ng-repeat="song in ctrl.tracks track by song.id">
                <div class="artist-card button" ng-click="ctrl.select(song)">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <img ng-if="song.artwork_url.length > 1" ng-src="{{song.artwork_url}}" />
                        <img ng-if="song.artwork_url === null" src="resources/images/noImage.jpg" />
                    </div>
                    <div class="artist-content">
                        <h3>{{song.title}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!ctrl.grid">
            <div class="col-md-10">
                <music-table ng-if="ctrl.tracks.length > 0" playlists="ctrl.playlists"  tracks="ctrl.tracks"
                             showartist="true" showdate="false"></music-table>
            </div>
        </div>

    </div>
</div>