<div class="container-fluid" ng-init="ctrl.init()">
    <div class="col-md-9">
        <search-bar></search-bar>
    </div>

    <div class="col-xs-12 pl0 pr0 pb10">
        <div class="pl15">
            <h3><span>Top trending</span> <a href ng-click="ctrl.artist_grid = !ctrl.artist_grid" ng-if="ctrl.favorites.length > 0"><i ng-if="!ctrl.artist_grid" class="fa fa-th"></i> <i ng-if="ctrl.artist_grid" class="fa fa-list"></i></a></h3>
        </div>

        <div ng-if="ctrl.grid">
            <div class="col-md-2 col-sm-4 col-xs-12 pt15" ng-repeat="song in ctrl.tracks track by song.id">
                <div class="artist-card button" ng-click="ctrl.select(song)">
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <img ng-src="{{song.user.avatar_url}}" />
                        <img ng-if="song.user.avatar_url === null" src="resources/images/noImage.jpg" />
                    </div>
                    <div class="artist-content">
                        <h3>{{song.title}}</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>