<div ng-init="ctrl.init()" class="col-md-9">

    <div class="col-md-12">
        <div class="search-bar">
            <p>Powered by <b>SoundCloud</b></p>
            <input type="text" class="col-md-3" ng-model="ctrl.search" ng-model-options="{debounce: 250}" ng-change="ctrl.getArtist()">
            <a class="ml15" href="" ng-if="!ctrl.showInitList && ctrl.tracks.length > 0" ng-click="ctrl.init()">All music</a>
            <br>
        </div>
        <br>
    </div>

    <br>

    <!-- Message when the there's a technical error -->
    <div ng-if="ctrl.tracks.length !== ctrl.artist.track_count && !ctrl.showInitList" class="col-md-12">
        <div class="card card-red">
            <div class="panel-body">
                <p>Unexpected error occurred fetching tracks</p>
            </div>
        </div>
    </div>

    <!-- Message when the user doesn't have any tracks -->
    <div ng-if="ctrl.artist.track_count === 0" class="col-md-12">
        <div class="card card-red">
            <div class="panel-body">
                <p>No tracks by {{ctrl.artist.full_name}}</p>
            </div>
        </div>
    </div>


    <!-- Artists search query list -->
    <div ng-if="ctrl.artists.length > 0 && ctrl.showArtists" class="repeated-item" ng-repeat="artist in ctrl.artists track by $index">
        <div class="col-md-4" ng-if="artist.full_name" title="{{artist.full_name}}">
            <div class="col-md-12 card card-red button card-sc" ng-click="ctrl.setArtist(artist)">
                <div class="panel-body text-center">
                    <img ng-src="{{artist.avatar_url}}">
                    <span ng-if="artist.avatar_url === null"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
                    <h6 class="custom-font" style="color: gray"><a ng-href="{{artist.permalink_url}}" target="_blank">
                        {{artist.full_name | limitTo: 70}}</a><span ng-if="artist.full_name > 70"> . . . </span></h6>
                    <h3>
                        <label class="label label-info" ng-if="artist.track_count > 0">{{artist.track_count | number}} tracks</label>
                        <label class="label label-danger" ng-if="artist.track_count === 0">{{artist.track_count}} tracks</label>
                        <a class="btn btn-success" ng-click="ctrl.addFavorite(artist)" ng-if="!ctrl.isFavorite(artist)">Add Favorite</a>
                        <a class="btn btn-primary" ng-if="ctrl.isFavorite(artist)">Favorite Artist</a>
                    </h3>

                </div>
            </div>
        </div>
    </div>

    <!-- Initial songs list by all favorites -->
    <div ng-if="ctrl.tracks.length > 0 && ctrl.showInitList">
        <div class="col-md-4 repeated-item" ng-repeat="track in ctrl.tracks track by $index">
            <div class="col-md-12 card card-red button card-sc" ng-click= "ctrl.select(track)" title="{{track.title}}">
                <div class="panel-body text-center">
                    <img ng-src="{{track.artwork_url}}">
                    <span ng-if="track.artwork_url === null"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
                    <h6 class="custom-font" style="color: gray">{{track.title | limitTo: 70}}<span ng-if="track.title.length > 70"> . . . </span></h6>
                    <p class="custom-font"><a ng-href="{{track.user.permalink_url}}" target="_blank">{{track.user.username}}</a></p>
                    <h3><label class="label label-primary">{{track.playback_count | number}} plays</label></h3>
                </div>
            </div>
        </div>
    </div>

    <!-- The actual songs list by user -->
    <div ng-if="ctrl.tracks.length > 0 && !ctrl.showArtists && !ctrl.showInitList">
        <div class="col-md-12 mb10">
            <span class="fa fa-2x fa-plus-circle button" ng-click="ctrl.addFavorite(ctrl.artist)" ng-if="!ctrl.isFavorite(ctrl.artist)"></span>
            <span style="font-size: medium">Artist: {{ctrl.artist.full_name}}</span>
            <!--<span ng-if="!ctrl.isFavorite(ctrl.artist)"><a class="button" ng-click="ctrl.addFavorite(ctrl.artist)">Add to favorites!</a></span>-->
            <span class="pull-right">Search <input type="text" ng-model="search"></span>
        </div>

        <div class="col-md-4 repeated-item" ng-repeat="track in ctrl.tracks | filter: search">
            <div class="col-md-12 card card-red button card-sc" ng-click="ctrl.select(track)" title="{{track.title}}">
                <div class="panel-body text-center">
                    <img ng-src="{{track.artwork_url}}">
                    <span ng-if="track.artwork_url === null"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
                    <h6 class="custom-font" style="color: gray">{{track.title | limitTo: 70}}<span ng-if="track.title.length > 70"> . . . </span></h6>
                    <p class="custom-font"><a ng-href="{{track.user.permalink_url}}" target="_blank">{{track.user.username}}</a></p>
                    <h3><label class="label label-primary">{{track.playback_count | number}} plays</label></h3>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Favorites List on the side -->
<div class="col-md-3">
    <div ng-if="ctrl.favorites.length > 0">
        <div class="card">
            <div class="card-red panel-body">
                <span class="fa fa-star-o"> Favorite Artists</span>
            </div>
            <div class="button hover-under-line" ng-repeat="artist in ctrl.favorites track by $index"
                 ng-click="ctrl.setArtist(artist)">
                <div class="panel-body" title="{{artist.full_name}}">
                    <img ng-src="{{artist.avatar_url}}" style="height: 50px; width: 50px; display: inline-block">
                    <span ng-if="artist.artwork_url === null"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
                    {{artist.full_name | limitTo: 70}} <span ng-if="artist.full_name.length > 70"> . . . </span>
                    <a class="fa fa-remove pull-right" style="padding-top: inherit" ng-click="ctrl.removeFavorite(artist)"></a>
                </div>
            </div>
        </div>
    </div>
</div>