<div class="container-fluid col-md-12">
    <div ng-init="ctrl.init()" class="col-md-9">

        <div class="col-md-12 col-xs-12 pl0 pr0">
            <div class="search-bar col-md-5 col-xs-10">
                <p>Powered by <b>SoundCloud</b></p>
                <input type="text" placeholder="Search" class="col-md-6 form-control" ng-model="ctrl.q" ng-change="ctrl.search()"
                       uib-typeahead="obj as obj.permalink for obj in ctrl.searchResponse"
                       typeahead-template-url="customTemplate.html" typeahead-show-hint="true" typeahead-min-length="0">
            </div>
            <div class="col-md-3" style="margin-top: 35px" >
                <a href="" ng-if="!ctrl.showInitList" ng-click="ctrl.init()">All music</a>
            </div>
        </div>

        <!-- Message when the there's a technical error -->
        <div ng-if="ctrl.tracks.length < ctrl.artist.track_count && !ctrl.showInitList" class="col-md-12 mt15">
            <div class="card card-red">
                <div class="panel-body">
                    <p>Unexpected error occurred fetching tracks for {{ctrl.artist.full_name}}</p>
                </div>
            </div>
        </div>

        <!-- Message when the user doesn't have any tracks -->
        <div ng-if="ctrl.artist.track_count === 0 && !ctrl.showInitList" class="col-md-12 mt15">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No tracks by {{ctrl.artist.full_name}}</p>
                </div>
            </div>
        </div>

        <!-- Initial songs list by all favorites -->
        <div ng-if="ctrl.tracks.length > 0 && ctrl.showInitList" class="col-md-12 mt15">
            <span class="pull-left"><b>Total {{ctrl.tracks.length}} tracks</b></span>
            <span class="pull-right">Filter <input type="text" placeholder="e.g. track, artist, plays" ng-model="search"></span>
            <div ng-include="'resources/scripts/controllers/media/music-table.html'"></div>
        </div>

        <!-- The actual songs list by user -->
        <div ng-if="ctrl.tracks.length > 0 && ctrl.artist && !ctrl.showInitList" class="col-md-12 mt15">

            <div class="mb10 card-sc panel-body card card-purple col-md-8" style="min-height: 132px">
                <div class="col-md-12 mb5">
                    <span style="font-size: large" class="custom-font"><a ng-href="{{ctrl.artist.permalink_url}}" target="_blank">{{ctrl.artist.permalink}}</a></span>
                    <span class="fa fa-2x fa-plus-circle button" ng-click="ctrl.addFavorite(ctrl.artist)" ng-if="!ctrl.isFavorite(ctrl.artist)"></span><br>
                </div>

                <div class="col-md-1 mr15">
                    <img ng-src="{{ctrl.artist.avatar_url}}" style="height: 100px; width: 100px; display: inline-block">
                    <img ng-if="ctrl.artist.artwork_url === null" height="100px" width="100px" src="resources/images/noImage.jpg">
                </div>

                <div class="col-md-10 ml15">
                    <!--<hr>-->
                    <div class="col-md-4 text-center" style="vertical-align: middle">
                        <h5>{{ctrl.artist.followers_count | number}}</h5>
                        <p>Followers</p>
                    </div>
                    <div class="col-md-4 text-center" style="vertical-align: middle">
                        <h5>{{ctrl.artist.followings_count | number}}</h5>
                        <p>Following</p>
                    </div>
                    <div class="col-md-4 text-center" style="vertical-align: middle">
                        <h5>{{ctrl.artist.track_count | number}}</h5>
                        <p>Tracks</p>
                    </div>
                </div>

                <div class="col-md-10 ml15 text-center">
                    <div class="col-md-12">
                        <a ng-href="{{ctrl.artist.permalink_url}}" target="_blank">{{ctrl.artist.permalink_url}}</a>
                    </div>
                </div>
            </div>

            <span class="pull-right">Filter <input type="text" placeholder="e.g. track, plays, etc." ng-model="search"></span>

            <div ng-include="'resources/scripts/controllers/media/music-table.html'"></div>
        </div>

    </div>

    <!-- Favorites List on the side -->
    <div class="col-md-3">
        <div ng-if="ctrl.favorites.length > 0">
            <div class="card">
                <div class="card-red panel-body">
                    <span class="fa fa-star-o"> Favorite Artists</span>
                </div>
                <div class="button hover-under-line" ng-repeat="artist in ctrl.favorites track by $index"
                     ng-click="ctrl.setArtist(artist)">
                    <div class="panel-body" title="{{artist.full_name}}">
                        <img ng-src="{{artist.avatar_url}}" style="height: 50px; width: 50px; display: inline-block">
                        <span ng-if="artist.artwork_url === null"><img height="100px" width="100px" src="resources/images/noImage.jpg"></span>
                        {{artist.permalink | limitTo: 70}} <span ng-if="artist.full_name.length > 70"> . . . </span>
                        <a class="fa fa-remove pull-right" style="padding-top: inherit" ng-click="ctrl.removeFavorite(artist)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="customTemplate.html">
    <a ng-if="match.model.kind === 'user'" ng-click="$parent.$parent.$parent.$parent.ctrl.getSpecificArtist(match.model.id)">
        <img ng-src="{{match.model.avatar_url}}" width="50" height="50">
        <span>{{match.model.permalink | limitTo: 50}}</span>
        <i class="pull-right fa fa-user custom-green pt15"></i>
    </a>
    <a ng-if="match.model.kind === 'track'" ng-click="$parent.$parent.$parent.$parent.ctrl.getSpecificTrack(match.model)">
        <img ng-src="{{match.model.artwork_url}}" width="50" height="50">
        <span>{{match.model.title | limitTo: 50}}, by {{match.model.user.permalink | limitTo: 25}}</span>
        <i class="pull-right fa fa-music custom-orange pt15"></i>
    </a>
</script>