<div class="container-fluid">
    <div ng-init="ctrl.init()" class="col-md-9 pt0">

        <div ng-include="'resources/scripts/controllers/common/search/search-bar.html'"></div>

        <!-- Message when playlist not found -->
        <div ng-if="ctrl.playlistNotFound" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No playlist found</p>
                </div>
            </div>
        </div>

        <!-- Message when the user doesn't have any tracks -->
        <div ng-if="ctrl.playlist.songs.length === 0" class="col-md-12 col-xs-12 mt15 pl0 pr0">
            <div class="card card-red">
                <div class="panel-body">
                    <p>No tracks in {{ctrl.playlist.name}}</p>
                </div>
            </div>
        </div>

        <!-- Initial songs list by all favorites -->
        <div class="pl0">
            <div class="col-md-12 col-sm-12 pl0 pr0 pt15">
                <!-- this div for artist card -->
                <div ng-if="ctrl.playlist"
                     class="mb10 card-sc panel-body pt0 pb0 card card-purple col-md-5 col-sm-6 col-xs-12 pl0 pr0"
                     style="min-height: 104px">
                    <div class="mr15 pl0 pr0">
                        <span class="custom-font pl15">
                            <h4>Playlist name: {{ctrl.playlist.name}}</h4>
                        </span>
                    </div>
                </div>

                <!-- Filter for both pages-->
                <span class="pull-right col-md-3 col-xs-12 pl0 pr0 pb10" ng-if="ctrl.tracks.length > 0">
                    <input placeholder="Filter by track name"
                           ng-model="ctrl.searchQuery" type="text"
                           class="pull-right col-xs-12 col-sm-6 form-control">
                </span>
            </div>

            <div ng-if="ctrl.tracks.length > 0" ng-include="'resources/scripts/controllers/common/music-table.html'"></div>
        </div>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <favorites-card favorites="ctrl.favorites"></favorites-card>
        <playlist-card list="ctrl.playlists"></playlist-card>
    </div>

</div>