<div class="card side-card" draggable>
    <div class="card-purple panel-body">
        <a href ng-click="ctrl.createPlaylist()"><i class="fa fa-plus-circle fa-2x pr5"></i></a> Playlist(s)
    </div>
    <div class="button hover-under-line" ng-right-click="ctrl.print(playlist)" ng-repeat="playlist in ctrl.playlists">
        <div ng-if="!playlist.isNew" class="panel-body" title="{{playlist.name}}"
             ng-mouseleave="playlist.showOptions = false" ng-mouseover="playlist.showOptions = true">

            <span class="col-xs-8 pr0 pl0" ng-click="ctrl.showPlaylist(playlist)"> {{playlist.name}}</span>
            <span class="pull-right col-xs-4 pl0 pr0">
                <span ng-click="ctrl.showPlaylist(playlist)"
                      class="badge mr5"
                      style="background-color: coral; font-size: medium;"> {{playlist.songs.length}} song<span ng-if="playlist.songs.length !== 1">s</span>
                </span>
                <a ng-if="playlist.showOptions" class="fa fa-trash-o pl15" style="padding-top: inherit"
                   ng-click="ctrl.removePlaylist(playlist)"></a>
            </span>

        </div>

        <div ng-if="playlist.isNew" class="panel-body">
            <input type="text" class="md-input" ng-model="playlist.name" ng-enter="ctrl.addPlaylist(playlist)" autofocus>
            <button class="btn btn-primary pull-right" ng-click="ctrl.addPlaylist(playlist)"><i
                    class="fa fa-check-circle"></i> Add
            </button>
        </div>
    </div>
</div>