<div ng-init="ctrl.init()" class="col-md-12">

    <div class="col-md-9 col-xs-12 pl0">
        <div class="search-bar col-md-5 col-sm-6 col-xs-12 pl0 pr0">
            <p>Powered by <b>YouTube</b></p>
            <input type="text" placeholder="Search YouTube content"
                   class="col-md-3 col-sm-3 form-control mb10" ng-model="ctrl.query" ng-change="ctrl.search(ctrl.query)"
                   ng-model-options="{debounce: 250}">
            <i ng-if="!ctrl.isPopular" style="pointer-events: all; padding-top: 40px"
               ng-click="ctrl.getPopular()"  class="fa fa-refresh form-control-feedback"></i>
            <br>
        </div>
        <br>
    </div>
</div>

<iframe class="col-md-12 mb15" height="500" src={{ctrl.getSrc()}} allowfullscreen="allowfullscreen"
        frameborder="0" ng-if="ctrl.playVideo"></iframe>

<div ng-if="ctrl.showList">
    <h4 ng-if="ctrl.isPopular" class="pl15">Popular on YouTube</h4>
    <div ng-repeat="video in ctrl.videosList track by $index">
        <div ng-click="ctrl.play(video)" class="col-md-3 col-sm-6 col-xs-12 button mt10"
             style="height: 250px">
            <img ng-src="{{video.snippet.thumbnails.medium.url}}" style="border-radius: 14px"><br>
            <span><a>{{video.snippet.title}}</a></span><br>
            <span>{{video.snippet.channelTitle}}</span><br>
        </div>
    </div>
</div>
