<div ng-init="ctrl.init()">
    <div class="music-player" ng-if="ctrl.player">

        <img class="pull-left" ng-if="ctrl.track.artwork_url" ng-src="{{ctrl.track.artwork_url}}">
        <img class="pull-left" style="width: 100px; height: 100px" ng-if="!ctrl.track.artwork_url" src="resources/images/noImage.jpg">

        <div class="col-sm-3 col-xs-8 music-player-info">
            <h4 ng-class="{marquee: ctrl.track.title.length > 35}"><span title="{{ctrl.track.title}}">{{ctrl.track.title}}</span></h4>
            <h6><a href ng-href="#/artist/{{ctrl.track.user.permalink}}" title="{{ctrl.track.user.name}}">{{ctrl.track.user.name}}</a></h6>
            <span class="hidden-xs">{{ctrl.milliToTime(ctrl.player.currentTime)}} / {{ctrl.milliToTime(ctrl.player.duration)}}</span>
        </div>

        <div class="col-md-5 col-sm-7 col-xs-12 mt15 text-center">
            <a class="pr15 rewind-btn custom-white" ng-dblclick="ctrl.getPrevious()" ng-click="ctrl.rewind()" href title="Previous/Rewind"><i class="fa fa-3x fa-backward"></i></a>
            <a class="play-btn custom-white" ng-if="!ctrl.isPlaying" ng-click="ctrl.play()" href title="Play"><i class="fa fa-3x fa-play"></i></a>
            <a class="pause-btn custom-white" ng-if="ctrl.isPlaying" ng-click="ctrl.pause()" href title="Pause"><i class="fa fa-3x fa-pause"></i></a>
            <a class="pl15 next-btn custom-white" ng-click="ctrl.next()" href title="Next"><i class="fa fa-3x fa-forward"></i></a>
            <div id="progress-bar" class="button music-bar-background ml15 mr15 mt15">
                <div class="music-bar" ng-style="ctrl.myStyle"></div>
            </div>
        </div>

        <div class="col-md-1 pull-right">
            <a href uib-popover-template="'template.html'" ng-click="ctrl.getQueue()" class="custom-white pt15 fa fa-2x fa-list-alt" popover-trigger="focus"></a>
        </div>
    </div>
    <script id="template.html" type="text/ng-template">
        <div ng-repeat="song in ctrl.queue track by song.id">
            <span ng-class="{activeList: song.id === ctrl.track.id}" style="color: black">{{song.title | limitTo: 20}}</span>
        </div>
    </script>
</div>