<div class="card side-card panel-default">
    <!-- Header -->
    <div class="card-purple panel-body" ng-if="!ctrl.showSearch">
        <div class="pull-left custom-font">
            <span class="pl15" style="font-size: 24px">Playlists</span>
        </div>
        <div class="pull-right">
            <a ng-if="!ctrl.showPlaylistForm" ng-click="ctrl.showPlaylistForm = true;" href><i class="fa fa-plus-circle pr10" style="font-size: 25px"></i></a>
            <a ng-if="ctrl.showPlaylistForm" ng-click="ctrl.showPlaylistForm = false;" href><i class="fa fa-times-circle-o pr10" style="font-size: 25px"></i></a>
            <a ng-if="ctrl.list.length > 0" ng-click="ctrl.showSearch = true" href><i class="fa fa-search" style="font-size: 25px"></i></a>
        </div>
    </div>

    <!-- Search bar -->
    <div class="card-red panel-body" ng-if="ctrl.showSearch">
        <div class="has-feedback">
            <input class="form-control" ng-model="ctrl.playlistFiler">
            <i class="pt10 fa fa-times-circle-o form-control-feedback" style="pointer-events: all" ng-click="ctrl.showSearch = false"></i>
        </div>
    </div>

    <!-- New Playlist Form -->
    <div ng-if="ctrl.showPlaylistForm" class="panel-body">
        <div class="col-md-11 pl0">
            <input type="text" class="form-control" ng-click="ctrl.focus($event)"
                   ng-model="ctrl.name" ng-enter="ctrl.addPlaylist(); ctrl.showPlaylistForm = false"
                   auto-focus autofocus="true">
        </div>
        <a class="fa-2x" ng-click="ctrl.addPlaylist(); ctrl.showPlaylistForm = false;" href><i class="fa fa-check-circle-o" style="padding-top: 2px"></i></a>
    </div>

    <!-- List of playlists -->
    <div class="button" ng-repeat="playlist in ctrl.list | filter: ctrl.playlistFiler track by playlist.id"
         ng-mouseleave="playlist.showOptions = false" ng-mouseover="playlist.showOptions = true">
        <div class="panel-body col-md-10" title="{{playlist.name}}" ng-click="ctrl.showPlaylist(playlist)">
            <span class="badge" style="background-color: coral; font-size: 15px"> {{playlist.name}}</span>
        </div>

        <div class="col-md-2 pl0 pr0 panel-body pull-right">
            <div ng-if="playlist.showOptions" class="button" ng-click="ctrl.removePlaylist(playlist)">
                <span class="pl0 pr0">
                    <i class="fa fa-trash-o" style="padding-top: inherit"></i>
                </span>
            </div>
        </div>
    </div>

    <!-- Message when there are no playlists -->
    <div ng-if="!ctrl.showPlaylistForm && ctrl.list.length === 0">
        <div class="panel-body col-md-12 text-center">
            <h4 class="custom-font"> You have no playlists</h4>
        </div>
    </div>
</div>