<div class="card side-card panel-default">
    <div class="card-purple panel-body">
        <a href ng-click="ctrl.showPlaylistForm = true;"><i class="fa fa-plus-circle fa-2x pr5"></i></a> Playlist(s)
    </div>
    <div ng-if="ctrl.showPlaylistForm" class="panel-body">
        <input type="text" class="md-input" ng-click="ctrl.focus($event)"
               ng-model="name" ng-enter="ctrl.addPlaylist(name); ctrl.showPlaylistForm = false"
               auto-focus autofocus="true">

        <button class="btn btn-primary pull-right" ng-click="ctrl.addPlaylist(name); ctrl.showPlaylistForm = false;">
            <i class="fa fa-check-circle"></i> Add
        </button>
    </div>
    <div ng-if="!playlist.isNew" class="button" ng-repeat="playlist in ctrl.list track by playlist.id"
         ng-mouseleave="playlist.showOptions = false" ng-mouseover="playlist.showOptions = true">
        <div class="panel-body col-md-10" title="{{playlist.name}}" ng-click="ctrl.showPlaylist(playlist)">
            <span class="badge" style="background-color: coral; font-size: 15px"> {{playlist.name}}</span>
        </div>

        <div class="col-md-2 pl0 pr0 panel-body pull-right">
            <div ng-if="playlist.showOptions" class="button" ng-click="ctrl.removePlaylist(playlist)">
                <span class="pl0 pr0">
                    <i class="fa fa-trash-o" style="padding-top: inherit"></i>
                </span>
            </div>
        </div>
    </div>
    <div ng-if="!playlist.isNew && ctrl.list.length === 0">
        <div class="panel-body col-md-12 text-center">
            <h4 class="custom-font"> You have no playlists</h4>
        </div>
    </div>
</div>